/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

/* html5 font face */

@font-face {
    font-family: 'johnston-light';
    font-weight: 300;
    font-style: normal;
    src: url('../es/fonts/Johnston/JohnstonITCStd-Light.otf');
}


@font-face {
    font-family: 'johnston-bold';
    font-weight: bold;
    font-style: normal;
    src: url('../es/fonts/Johnston/JohnstonITCStd-Bold.otf');
}

@font-face {
    font-family: 'johnston-med';
    font-weight: 500;
    font-style: normal;
    src: url('../es/fonts/Johnston/JohnstonITCStd-Medium.otf');
}

body
{
    background: rgb(21, 26, 48);
    background-color: rgb(21, 26, 48);
}

.reveal a
{
    font-family: 'johnston-med';
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6
{
    font-family: 'johnston-bold';
}

.reveal p,
.reveal li,
.reveal ul,
.reveal ol
{
    font-family: 'johnston-light';
}

.reveal em
{
    font-family: 'johnston-med';
}

.reveal strong
{
    font-family: 'johnston-bold';
}
